bzip2-devel
cairo-devel
gcc
gcc-c++
gcc-gfortran
git
java-1.8.0-openjdk-devel
libcurl-devel
libgit2-devel
libX11-devel
libxml2-devel
libXt-devel
harfbuzz-devel
fribidi-devel
freetype-devel
libpng-devel
libtiff-devel
libjpeg-turbo-devel
make
openssl-devel
pandoc
patch
pcre-devel
procps
python3
R-4.2.3-1.fc37
readline-devel
xz-devel
zlib-devel
wget